<% provide(:title, "Help")%>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title)%> | rails sample app</title>
    </head>
    <body>
        <h1>Help</h1>
        <p>get help here</p>
    </body>
</html>
