<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>password reset</title>
    </head>
    <body>
        {% extends 'base.html' %}
        {% block title %}forgot your password?{% endblock title %}
        {% block content %}
        <h1>forgot your password?</h1>
        <p>enter your email address below and we shall email you the instructions to reset your passowrd</p>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input class="btn btn-sucess" type="submit" value="send me instructions!">
        </form>
        {% endblock content %}

    </body>
</html>