<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>password change</title>
    </head>
    <body>
        {% extends 'base.html' %}
        {% block title %}Password Change{% endblock title %}
        {% block content %}
        <h1>Password Change</h1>
        <p>enter your old password, and new password twice</p>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input class="btn btn-success" type="submit" value="change my password">
        </form>
        {% endblock content %}
    </body>
</html>