{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Django blog</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:
rel="stylesheet">
    </head>
    <body>
        <div>
            <header>
                <div class="nav-left">
                    <h1><a href="{% url 'home' %}">Django blog</a></h1>
                </div>
                <div class="nav-right">
                    <h1><a href="{% url 'post_new' %}">New Blog</a></h1>
                </div>
            </header>
            {% if user.is_authenticated %}
                <p>hi {{user.username}}!</p>
                <p><a href="{% url 'logout' %}">Log out</a></p>
            {% else %}
                <p>You are not logged in</p>
                <p><a href="{% url 'login' %}">Login In</a></p>
            {% endif %}
        
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>