<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>edit post</title>
    </head>
    <body>
        {% extends 'base.html' %}
        {% block content %}
        <h1>Edit</h1>
        <form action="/edit" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <!-- <input type="submit" value="Save"> -->
            <button class="btn btn-success" type="submit">update</button>
        </form>
        {% endblock content %}
    </body>
</html>