<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>New Article</title>
    </head>
    <body>
        {% extends 'base.html' %}
        {% block content %}
        <h1>New Blog</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class ="btn btn-success ml-2" type="submit">Save</button>
            <!-- <input type="submit" value="Submit"> -->
        </form>
        {% endblock content %}
    </body>
</html>