<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Delete Post</title>
    </head>
    <body>
        {% extends 'base.html' %}
        {% block content %}
        <h1>Delete</h1>
        <form action="/admin/post" method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete "{{ article.title }}"?</p>
            <button class="btn btn-danger ml-2" type="submit">confirm</button>
        </form>
        {% endblock content %}
    </body>
</html>