<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Home</title>
    </head>
    <body>
        {% extends 'base.html' %}
        {% block title %}Home {% endblock title %}
        {% block content %}
        {% if user.is_authenticated %}
            Hi {{user.username}}!
            <p><a href="{% url 'logout' %}">log out</a></p>
        {% else %}
            <p>You are not logged in</p>
            <a class="btn btn-success" href="{% url 'login' %}">log in</a>
             
            <a class="btn btn-success" href="{% url 'signup' %}"> sign up</a>
        {% endif %}
        {% endblock content %}
    </body>
</html>